<h1>Neuer Einkauf speichern:</h1>
<p>
    <input #name_field type="text" />
    <input #product_name_field type="text" />
    <input #date_field type="text" />
    <input #price_field type="text" />
    <button (click)="savePurchaseClick(name_field.value, product_name_field.value, date_field.value, price_field.value)">Einkauf speichern</button>

</p>

<p>
  Alle Einkäufe einsehen:
  <button (click)="getPurchases()"> Einkäufe einsehen</button>
</p>


<table>
  <tr *ngFor="let purchase of purchases">
    <td>{{purchase}}</td>
  </tr>
</table>


